<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>Tela Carrinho Compra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header th:insert="navbar.html"></header>
            </div>
            
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-7 d-flex align-items-center border border-dark justify-content-end">
                    <img class="me-3" th:src="@{/images/imagem_comprar_remedio.png}" width="45">
                    <h4 class="me-3">Nome do remédio</h4>
                    <span class="me-3">Quantidade de remédios</span>
                    <span class="me-3">Preço dos remédios</span>
                    <img th:src="@{/images/imagem_lixeira.png}" width="45">
                </div>
            </div>
            
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-7 d-flex justify-content-end border">
                    <span>TOTAL: R$</span>
                </div>
            </div>
            
            <div class="row mt-3 d-flex justify-content-center">
                <div class="col-7 d-flex justify-content-end border border-danger">
                    <button type="button" class="btn btn-primary">ESCOLHER FORMA DE PAGAMENTO</button>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
