<!DOCTYPE html>
<html>
    <head>
        <title>Tela Editar Remédio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header th:insert="~{componentesFixos.html}"></header>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-4">
                    <span class="fs-2 fw-bold">EDITAR REMÉDIO</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 border rounded p-3 bg-body-tertiary">
                    <form id="formEditRemedio" th:action="@{'/drogaria/remedio/edit/'+${remedio.id}}" th:object="${remedio}" method="POST">
                        <div class="mb-3">
                            <label for="nomeRemedio" class="form-label fs-5">Nome do Remédio</label>
                            <input type="text" class="form-control" id="nomeRemedio" th:field="*{nome}">
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label fs-5">Descrição</label>
                            <input type="text" class="form-control" id="descricao" th:field="*{descricao}">
                        </div>
                        <div class="mb-3">
                            <label for="valor" class="form-label fs-5">Valor</label>
                            <input type="number" class="form-control" id="valor" th:field="*{valor}">
                        </div>
                        <div class="mb-3">
                            <label for="qtd_estoque" class="form-label fs-5">Quantidade no Estoque</label>
                            <input type="number" class="form-control" id="qtd_estoque" th:field="*{qtd_estoque}">
                        </div>
                        <div class="mb-3 form-check">
                            <input class="form-check-input" type="checkbox" th:value="true" th:field="*{promocao}" id="promocao">
                            <label class="form-check-label" for="promocao">Em Promoção</label>
                        </div>
                        <div class="d-flex">
                            <div class="col">
                            <button type="submit" class="btn btn-primary fs-5">EDITAR</button>
                            </div>
                            <div class="col text-end">
                            <a th:href="@{'/drogaria/remedio/deletar/'+${remedio.id}}" class="btn btn-danger fs-5">EXCLUIR</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script th:src="@{/js/script.js}" defer></script>
    </body>
</html>
