<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tela Cadastro Remédio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header th:insert="navbar.html"></header>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-4">
                    <span class="fs-2 fw-bold">CADASTRAR REMÉDIO</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 border rounded p-3 bg-body-tertiary">
                    <form id="formCadastroRemedio" th:action="@{/drogaria/remedio/cadastro}" th:object="${remedio}" method="POST">
                        <div class="mb-3">
                            <label for="nomeRemedio" class="form-label fs-5">Nome do Remédio</label>
                            <input type="text" class="form-control" id="nomeRemedio" th:field="*{nome}">
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label fs-5">Descrição</label>
                            <input type="text" class="form-control" id="descricao" th:field="*{descricao}">
                        </div>
                        <div class="mb-3">
                            <label for="valor" class="form-label fs-5">Valor</label>
                            <input type="number" class="form-control" id="valor" th:field="*{valor}">
                        </div>
                        <div class="mb-3 form-check">
                            <input class="form-check-input" type="checkbox" th:value="true" th:field="*{promocao}" id="promocao">
                            <label class="form-check-label" for="promocao">Em Promoção</label>
                        </div>
                        <button type="submit" class="btn btn-success fs-5">CADASTRAR</button>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script th:src="@{/js/script.js}" defer></script>
    </body>
</html>
